.banner_div{
	display: none;
}
/*#floater{
	display: block;
	width: 0;
	transition: all 0.4s ease;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
}
#floater_img{
	width: 100%;
}*/
.gallery_img{
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.main_gallery{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
.side_gallery{
	display: flex;
	padding: 10px;
}
.gallery_image{
	display: flex;
	flex-direction: column;
	height: 550px;
	margin: 0 10px;
}
.bottext{
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	font-size: 1.5em;
}

.gallery_button {
  align-self: center;
  background-color: var(--text-area-bg);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border: 2px solid var(--border-color-dark);
  box-shadow: 0 0 5px var(--border-color-dark);
  /*border-style: solid;
  border-width: 2px;
  border-color: var(--border-color-dark);
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;*/
  color: var(--foreground);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-radius: 15px;
  /*border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;*/
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.gallery_button:hover {
  border-color: var(--link);
  color: var(--link);
  box-shadow: 0 0 5px var(--link);
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.btn_left:hover {
  transform: rotate(-20deg);
}

.btn_right:hover {
  transform: rotate(20deg);
}
@media screen and (max-width: 650px) {
	.side_gallery{
		padding: 5px;
	}
	.gallery_image{
		margin: 0 5px;
	}
}
