{% extends "site.html" %}
{% block title %}{{ config.extra.title }}{% endblock title %}

{% block head %}
<meta property="og:site_name" content="Nomi's website">
<meta property="og:title" content="Welcome!">
<meta property="og:description" content="Yes, it really is my website">
<meta property="og:url" content="https://nomi.gay/">
<meta property="og:image" content="https://nomi.gay/media/ico192x192.png">
<meta name="theme-color" content="#FFF7B6" data-react-helmet="true">
{% endblock head %}

{% block headertext %}Main Site{% endblock headertext %}
